.toppicture {
  background: url("/images/small-museumtext.jpg");
  background-size: 100% 100%;
  height: 400px;
  margin-bottom: 10px;
  max-width: 100%;
}

.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

main div, main table {
  padding: 10px;
  border: 1px solid black;
  background: var(--white);
  margin: 5px;
}

main table {
    min-height: 250px;
    border: none;
}

footer table {
  background: var(--black);
  padding: 0px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .text-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .text-grid {
    grid-template-columns: 1fr;
  }
}
