.toppicture {
    background: url("/images/small-museumtext.jpg");
    background-size: 100% 100%;
    height: 400px;
    margin-bottom: 10px;
    max-width: 100%;
}

.text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.text-grid div, table {
    padding: 10px;
    border: 1px solid black;
    background: var(--white);
    margin: 5px;
}

.text-grid table {
    position: absolute;
    white-space: nowrap;
    top: 80px;
}

footer table {
    background: var(--black);
    padding: 0px;
}

main {
    background: var(--blue);
}

@media only screen and (max-width: 640px) {
    .text-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    .text-grid {
        grid-template-columns: 1fr;
    }
}