@import "variables.css";

@font-face {
  font-family: Helvetica, Verdana, Tahoma, sans-serif;
}

h1 {
  font-family: var(--font1);
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: var(--font1);
  font-size: 16px;
  font-weight: bold;
}

pre {
  font-size: 14px;
}

p {
  font-family: var(--font1);
  font-size: 14px;
}

a {
  font-family: var(--font1);
  font-weight: bold;
  color: var(--black);
}

body {
  margin: 0;
  padding: 0;
}

.backgroundpic {
  position: fixed;
  background: url("/images/small-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(6px);
  width: 100%;
  height: 150vh;
  z-index: -1;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  height: 60px;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
}

.header-menu {
  display: flex;
  height: 60px;
  align-items: center;
}

.logo-container {
  flex: 4;
}

.menuitems {
  padding-right: 50px;
}

.logo-csm {
  height: 50px;
  width: auto;
  margin: 10px;
}

#hamburgermenu {
  display: none;
}
.dropdown {
  display: none;
}

.dropdown a:hover {
  color: var(--green);
  background-color: white;
}

.dropdown a {
  text-decoration: none;
  padding: 5px 0px;
  text-align: end;
  color: var(--black);
  width: 100%;
}

#hamburgermenu:checked ~ .dropdown {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  flex-direction: column;
  top: 60px;
  background: darkgray;
  z-index: 10;
}

/* Main */

main {
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.index-top {
  background-image: url("/images/small-whiteboard.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 300px;
  width: 100%;
  height: auto;
  max-height: 500px;
  text-align: center;
  position: relative;
}

.cta-young {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  text-decoration: none;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 5px 1px black;
}

.cta-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  text-decoration: none;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 5px 1px black;
}

.cta-young:hover,
.cta-info:hover {
  background: var(--red);
  color: var(--white);
}

.main-text {
  text-align: center;
  align-items: center;
  padding: 1px;
  padding-bottom: 10px;
  margin: auto;
  background: var(--green);
}

.exhibitions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  background: var(--white);
}

.exhibit-spaces {
  width: 170px;
  height: 140px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px;
}

.exhibit-spaces img {
  display: block;
  width: 100%;
  height: 100%;
}

.exhibit-spaces a {
  text-decoration: none;
}

.exhibit-spaces h2 {
  color: black;
  text-align: center;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  padding: 5px;
  background: var(--white);
}

.exhibit-spaces:hover {
  color: var(--red);
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  text-align: left;
  background: var(--blue);
}

.events h1 {
  grid-column: 1/3;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--green);
}

.event1,
.event2,
.event3 {
  padding: 30px 10px 30px 10px;
}

.events img {
  width: 100%;
}

.event2img {
  justify-self: right;
  grid-row: 3;
}

/* Footer */

footer {
  background: var(--gray);
}

footer section {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

footer section div {
  padding-bottom: 50px;
}

.socialmedia {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: flex-end;
  padding: 10px;
}

.socialmediaicons {
  height: 30px;
  padding-left: 20px;
}

.copyright {
  text-align: center;
  font-family: var(--font1);
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: var(--gray);
  width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .exhibitions {
    grid-template-columns: 1fr 1fr;
    border-radius: 0px;
  }

  main {
    padding: 0;
  }

  .index-top {
    border-radius: 0px;
  }

  .events {
    display: block;
  }

  .events h1 {
    grid-column: 0;
  }

  footer section {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 360px) {
  .exhibitions {
    grid-template-columns: 1fr;
  }

  footer section {
    grid-template-columns: 1fr;
  }
}
