:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #519DD6;
  --gray: #dadada;
  --red: #DB5853;
  --yellow: #fcff40;
  --green: #5DF08D;

  --font1: Helvetica, Verdana, Tahoma, sans-serif;

}
