main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
}

.young-top {
  justify-self: center;
}

.young-top p {
  position: relative;
  top: 80px;
  left: 10px;
}

main img {
  max-width: 400px;
  height: auto;
  width: 100%;
  min-height: 200px;
  min-width: 220px;
}

.redtext {
  color: var(--red);
  font: var(--font2);
  font-weight: bold;
}

h1 {
  position: fixed;
  padding: 10px;
  top: 75px;
  background: var(--blue);
  font-size: 24px;
  white-space: nowrap;
}

h2 {
  color: var(--white);
}

.section-text {
  justify-self: center;
  max-width: 400px;
  margin: 20px;
  color: var(--white);
}

.section-text p {
  padding-bottom: 20px;
}
